<footer id="footer" class="footer flex-shrink-0">
    <p class="mr-4">Created by <a class="hover:text-orange-500 font-bold" href="https://github.com/LgNNN" target="_blank" rel="noopener noreferrer">Elia Tryfonas</a></p>
    <p>Powered by <a class="hover:text-orange-500 font-bold" href="https://api.nasa.gov/" target="_blank" rel="noopener noreferrer"> NASA's API</a></p>
</footer> 