<header class="flex-shrink-0 header">
    <h1 class="text-5xl mb-4 md:ml-5 tracking-tighter font-bold text-center"><a href="/" draggable="false" class="text-red-800 font-bold ">Mars</a> Curiosity Rover</h1>
    <nav class="md:mr-6 mx-auto">
        <a draggable="false" class="p-2 hover:bg-red-700 hover:text-white font-bold text-xl" href="/">Home</a>
        <a draggable="false" class="p-2 hover:bg-red-700 hover:text-white font-bold text-xl" href="/about">About</a>
        <a draggable="false" class="p-2 hover:bg-red-700 hover:text-white font-bold text-xl" href="/cameras">Cameras</a>
    </nav>
</header> 