<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="img/mars.png">
        <title>Mars Curiosity Rover | 404</title>
        <meta charset="UTF-8">
        <meta name="robots" content="index,follow">
        <meta name="description" content="A website to view Mars photos taken by Curiosity Rover filtered by camera and date.">
        <meta name="keywords" content="rover,curiosity,mars,red planet,mars photos">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="stylesheet" href="css/tailwind.css" type="text/css">
    </head>
    <body class="body">
        <%- include('./partials/_header'); %>
        <main class="flex-grow 1 w-full m-auto main2 leading-none">
            <h2 class="text-6xl font-bold mt-10 text-center">404 page not found!</h2>
            <p class="text-2xl font-bold mt-5 text-center">The page you are trying to reach doesn't exist.</p>
        </main>
        <%- include('./partials/_footer'); %>
    </body>
</html>